<h3>Здравствуйте!</h3>

<p>Спасибо за ваш заказ! Вы выбрали оплату переводом на сбербанк карту.</p>
<p>Товары по Вашему заказу и презент от нашего интернет магазина будут отправлены по указанному Вами адресу в течение 3-4 рабочих дней с момента оплаты.
    В день отправки товаров на Вашу почту будет выслан трекинг-код для отслеживания местоположения вашей посылки и фото вашего укомплектованного заказа.</p>
<p><strong>Внимание!</strong> Обязательно прокомментируйте id своего заказа при переводе средств либо напишите сообщение по указанным на сайте контактам!</p>
<div>
    <p>№ Вашей операции: {{ transaction }}</p>
    <p>id Вашего заказа: {{ id }}</p>
    <p>Выбранные товары: </p>
    <p style="font-weight: bold;">{{ items }}</p>
</div>

<div>
    <br/>
    <p>Спасибо,что выбрали нас!</p>
    <h3>С уважением, www.PolyThai.ru</h3>
    <p><img width="400px" src="http://polythai.ru/static/images/logo.png" alt="логотип"/></p>
    <p><a href="http://polythai.ru/">http://polythai.ru/</a></p>
    <p><a href="mailto:PolyThai@mail.ru">PolyThai@mail.ru</a></p>
</div>