<h3>Здравствуйте!</h3>

<p>Спасибо за ваш заказ! Вы выбрали оплату переводом на сбербанк карту.</p>
<p>Товары по Вашему заказу и презент от нашего интернет магазина будут отправлены по указанному Вами адресу в течение 3-4 рабочих дней с момента оплаты.
    В день отправки товаров на Вашу почту будет выслан трекинг-код для отслеживания местоположения вашей посылки и фото вашего укомплектованного заказа.</p>
<p><strong>Внимание!</strong> Обязательно прокомментируйте id своего заказа при переводе средств либо напишите сообщение по указанным на сайте контактам!</p>
<div>
    <p>№ Вашей операции: {{ transaction }}</p>
    <p>id Вашего заказа: {{ id }}</p>
    <p>Выбранные товары: </p>
    <p style="font-weight: bold;">{{ items }}</p>
</div>

<table width="720" bordercolor="#000000" style="border:#000000 1px solid;" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td width="220" valign="top" height="100" align="center" style="border-bottom:#000000 1px solid; border-right:#000000 1px solid;">&nbsp;<strong>Перевод на сбербанк карту</strong></td>
            <td valign="top" style="border-bottom:#000000 1px solid; border-right:#000000 1px solid;">
{#                <li><strong>Получатель: </strong> <font style="font-size:90%"> Макарова Полина Юрьевна</font>&nbsp;&nbsp;&nbsp;<br></li>#}
                <li><strong>Наименование банка: </strong><font style="font-size:90%"> Сбербанк России</font>&nbsp;&nbsp;&nbsp;<br></li>
{#                <li><strong>Филиал: </strong><font style="font-size:90%"> Дальневосточный банк</font>&nbsp;&nbsp;&nbsp;<br></li>#}
{#                <li><strong>Наименование карты: </strong><font style="font-size:90%"> Visa</font>&nbsp;&nbsp;&nbsp;<br></li>#}
                <li><strong>Номер карты: </strong> <font style="font-size:90%">4276 3800 1835 3313</font>&nbsp;&nbsp;&nbsp;<br></li>
                <li><strong>Номер счета: </strong> <font style="font-size:90%">40817810538050948042</font>&nbsp;&nbsp;&nbsp;<br></li>
                <li><strong>ИНН банка: </strong> <font style="font-size:90%"> 7707083893</font>&nbsp;&nbsp;&nbsp;<br></li>
                <li><strong>БИК банка: </strong> <font style="font-size:90%"> 044525225</font>&nbsp;&nbsp;&nbsp;<br></li>
                <li><strong>КПП банка: </strong> <font style="font-size:90%"> 775001001</font>&nbsp;&nbsp;&nbsp;<br></li>
                <li><strong>Корр. счет банка: </strong> <font style="font-size:90%"> 30101810400000000225</font>&nbsp;&nbsp;&nbsp;<br></li>
{#                <li><strong>Почтовый адрес отделения: </strong> <font style="font-size:90%"> 680020, г. Хабаровск, ул. Гамарника 12</font>&nbsp;&nbsp;&nbsp;<br></li>#}
                <li><strong>Сумма:</strong> {{ total }} руб.</li>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <br/>
    <p>Спасибо,что выбрали нас!</p>
    <h3>С уважением, www.PolyThai.ru</h3>
    <p><img width="400px" src="http://polythai.ru/static/images/logo.png" alt="логотип"/></p>
    <p><a href="http://polythai.ru/">http://polythai.ru/</a></p>
    <p><a href="mailto:PolyThai@mail.ru">PolyThai@mail.ru</a></p>
</div>
