<h3>Благодарим за интерес к нашей продукции.<br/>
Ваше письмо получено. Мы свяжемся с Вами в ближайшее время.</h3>

<div>
    <p>№ Вашей операции: {{ transaction }}</p>
    <p>id Вашего заказа: {{ id }}</p>
    <p>Выбранные товары: {{ items }}</p>
</div>

<div style="text-align: center;">
    <h3>С уважением, Полина</h3>
    <img src="http://fish153.ru/static/images/logo.png" alt="логотип"/>
    <p>Благодарим за сотрудничество!</p>
    <p>8-900-888-77-70</p>
    <a href="http://polythai.ru/">http://polythai.ru/</a>
    <a href="mailto:polythai.ru@gmail.com">polythai.ru@gmail.com</a>
</div>