{% block navigation %}

    {% load i18n %}
    {% load search_tags %}
    {% load catalog_tags %}

<header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-default">

    <div class='container'>
        <div class="row">

            <div class="col-xs-6">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/logo.png">
{#                        <p class="logo_site">Fish153.ru</p>#}
{#                        <p class="logo_description">ИНТЕРНЕТ-МАГАЗИН ПРОДУКЦИИ ИЗ ТАЙЛАНДА</p>#}
                    </a>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="row">

                    <div class="col-xs-12 overflow_wrapper">
                        <div class="phone">
{#                            <img src="/static/images/phone.png">#}
{#                            <p class="phone_text"><img src="/static/images/insta.jpg" alt=""/>Instagram: <a href="http://instagram.com/thai_products">@thai_products</a></p>#}
                            <p class="phone_text"><img src="/static/images/mail.jpg" alt=""/>E-mail: <a href="mailto:suport.thai-products@yandex.ru">suport.thai-products@yandex.ru</a></p>
                            <p class="phone_text"><img src="/static/images/whatsapp.jpg" alt=""/>Whats App: +79264444811</p>
                            <p class="phone_text"><img src="/static/images/viber.jpg" alt=""/>Viber: +79264444811</p>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="row">

                            <div class="col-xs-5"></div>

                            <div class="col-xs-7 overflow_wrapper">
                                <div class="phone_area">
                                    <div class="auth">
                                        <ul class="nav log_menu" id="nav">
                                            {% if user.is_authenticated %}
                                                <li><i class="fa fa-user"></i><a href="{% url 'my_account' %}">{% trans "My Account" %}</a></li>
                                                <li ><i class="fa fa-lock"></i><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Logout" %}</a></li>
                                            {% else %}
                                                <li style=" margin: 6px 10px 0px 0px; "><i class="fa fa-user"></i><a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Login" %}</a></li>
                                               <li style=" margin-top: 6px; "> <i class="fa fa-unlock-alt"></i><a href="{% url 'register' %}">{% trans "Register" %}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>

</header>

{% endblock %}

