{% extends "catalog.html" %}
{% load i18n %}

{% block content %}
  <h1>Отзывы</h1>
    {% if text %}
        {{ text }}
        <p>пожалуйста заполните свой профиль <a href="/accounts/my_account/">здесь</a></p>
        <p>После этого Вы сможете оставить свой отзыв</p>
    {% else %}
        <form action="." method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <table>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Отправить" class="submit" />
                </th>
            </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}
