{% extends "catalog.html" %}
{% load i18n %}
{% load catalog_filters %}
{% load thumbnail %}

{% block product_js %}
    <script src="{{ STATIC_URL }}js/slides.min.jquery.js"></script>
    <script>
		$(function(){
			$('#products').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 200,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false
			});
		});
	</script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/product.css">

{% endblock %}

{% block slider %}
{% endblock %}
{% block tri_bloka %}
{% endblock %}

{% block content %}
    <div id="product_lict">
            <div class="row row-fluid">

                <div class="col-xs-12 product_text">
                    <h1>{{ p.name }}</h1>
                </div>


                <div class="col-xs-5">
{#                    {% thumbnail product_image.url "298x319" crop="center" as im %}#}
{#                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">#}
{#                    {% endthumbnail %}#}
                    {% if images %}

                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    {% for image in images %}
                                        <a name="">
                                        {% thumbnail image.url "300x300" crop="300px 300px" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
{#                                            <img src="/media/{{ image.url }}" width="300" height="300">#}
                                        </a>
                                    {% endfor %}
                                </div>
                                <ul class="pagination">
                                    {% for image in images %}
                                        <li><a href="#"><img src="/media/{{ image.url }}" width="55" alt=""/></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    {% else %}
                        <p>Нет фото</p>
                    {% endif %}

                </div>

                <div class="tabbable">
                    <div class="col-xs-7">

{#                        <ul class="nav nav-tabs" id="myTab">#}
{#                            <li class="active"><a href="#characteristics" data-toggle="tab">{% trans "Characteristics" %}</a></li>#}
{#                            <li><a href="#description" data-toggle="tab">{% trans "Description" %}</a></li>#}
{#                        </ul>#}

{#                        <div class="tab-content">#}
{#                            <div class="tab-pane active" id="characteristics">#}
{#                                <div class="row-fluid">#}
{#                                    <div class="span5">#}
                                        <div class="tab-pane" id="description">{{ p.description|truncatewords:30 }}</div>
                                        <br/>
                                        <table class="table table-striped table-bordered table-condensed">
                                            <tbody>
                                                <tr>
                                                    <th>Брэнд:</th>
                                                    <th>{{ p.brand_name.name }}</th>
                                                </tr>
                                                <tr>
                                                    <th>Объем:</th>
                                                    <th>{{ p.volume }} гр.</th>
                                                </tr>
                                                <tr>
                                                    <th>Вес:</th>
                                                    <th>{{ p.weight }} гр.</th>
                                                </tr>
{#                                                <tr>#}
{#                                                    <th>Жидкость:</th>#}
{#                                                    <th>{% if p.is_aqua %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</th>#}
{#                                                </tr>#}

{#                                                <tr>#}
{#                                                    <th>Способ доставки:</th>#}
{#                                                    {% if p.is_aqua %}<th>Только EMS</th>{% else %}<th>Любой</th>{% endif %}#}
{#                                                </tr>#}
                                            </tbody>
                                        </table>

                        <h2>Основные атрибуты:</h2>
                        <select onchange="Dajaxice.webshop.ajaxapp.change_atrs(Dajax.process, {'option':this.value})" size="1">
                            {% for atr in atrs %}
                                <option value="{{ atr.id }}">{{ atr.volume }}</option>
                            {% endfor %}
                        </select>
                        <p>Брэнд: {{ p.brand_name.name }}</p>
                        <p>объем: <span id="volume">{{ atrs_default.volume }}</span></p>
                        <p>вес: <span id="weight">{{ atrs_default.weight }}</span></p>
                        <p>цена: <span id="price">{{ atrs_default.price }}</span></p>
                        <p>новая цена: <span id="new_price">{{ atrs_default.new_price }}</span></p>

{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

{#                        </div>#}
                    </div>
                </div>

                <div class="col-xs-7">
                    <div class="row">
                        <div class="price_cart">
                            <div class="col-xs-4">
                                {% if p.sale_price %}
                                    <div class="price_was">
                                        {% trans "Was" %}: <span>{{ p.price }} {% trans "руб." %}</span>
                                    </div>
                                    <div class="price_now">
                                        {% trans "Now" %}:<span> {{ p.new_price }} {% trans "руб." %}</span>
                                    </div>
                                {% else %}
                                    {% trans "Price" %}: {{ p.price }} {% trans "руб." %}
                                {% endif %}
                            </div>

                            <div class="col-xs-8">
                                <form method="post" action="." class="cart">{% csrf_token %}
                                    <div class="hidden">
                                        {{ form.product_slug }}
                                    </div>
                                    <div class="hidden">
                                        <input id="atr_value" name="atr_value" type="hidden" value="{{ atrs.0.id }}"/>
                                    </div>
                                    {% if p.feel.count > 0 %}
                                        <div class="feel">
                                            {% if error.feel %}{{ error.feel }}<div class="error">{% endif %}
                                            <label for="id_feel">Выберите вкус:</label>
                                            <select name="feel" id="id_feel">
                                                {% for feel in p.feel.all %}
                                                    <option value="{{ feel.id }}">{{ feel.name }}</option>
                                                {% endfor %}
                                            </select>
                                            {% if error.feel %}</div>{% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="quantity">
                                        <label for="id_quantity">Количество:</label>
                                        {{ form.quantity }}
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="{% trans "Add To Cart" %}"
                                    name="submit" alt="{% trans "Add To Cart" %}" />
                                </form>
{#                                <form method="post" action="." class="cart">{% csrf_token %}#}
{#                                    {{ form.as_p }}#}
{#                                </form>#}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <h4>Описание:</h4>
                    <div class="tab-pane" id="description">{{ p.description }}</div>
                </div>

            </div>



    </div>


<div id="message_show" class="hidden">
    <div class="message_inner">
        <h6>Спасибо!</h6>
        <p>В ближайшее время наш менеджер свяжется с Вами</p>
        <button  class="btn btn-primary" onclick="closeMessage();">Закрыть</button>
    </div>
</div>
{% endblock %}

{#подключаем скрипт blueimp только на этой странице что бы не засорять код#}
{% block bottom_script %}
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls " style="display: none;">
        <div class="slides" style="width: 7684px;"></div>
        <h3 class="title">Галерея</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}blueimp/blueimp-gallery.min.js"></script>
    <script type="text/javascript">
		document.getElementById('links').onclick = function (event) {
			event = event || window.event;
			var target = event.target || event.srcElement,
				link = target.src ? target.parentNode : target,
				options = {index: link, event: event},
				links = this.getElementsByTagName('a');
			blueimp.Gallery(links, options);
		};
		document.getElementById('links2').onclick = function (event) {
			event = event || window.event;
			var target = event.target || event.srcElement,
				link = target.src ? target.parentNode : target,
				options = {index: link, event: event},
				links = this.getElementsByTagName('a');
			blueimp.Gallery(links, options);
		};
	</script>
{% endblock %}