{#bootstrap#}
{% load bootstrap3 %}
{% load catalog_tags %}
{% load i18n %}
{% load mptt_tags %}
{% load thumbnail %}
{% load dajaxice_templatetags %}

<!DOCTYPE HTML>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/static/css/css.css" />

{#        {% bootstrap_css %}#}
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
        <link href="/static/css/style.css" rel="stylesheet" />
        <link href="/static/css/non-responsive.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/selectbox.css"/>

        <link href="/static/css/flexslider.css" rel="stylesheet">
        <link href="/static/css/theme-style.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="/static/font/css/whhg.css" rel="stylesheet">



        {% block print_css %}
        {% endblock %}

        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="keywords" content="{{ meta_keywords }}" />
        <meta name="description" content="{{ meta_description }}" />
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <style type="text/css">
            body {
              padding-top: 60px;
              padding-bottom: 40px;
            }
        </style>

    {#    dajax#}
        <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
        <script type="text/javascript" charset="utf-8">

            function send_form(){
    {#            $('.loading').removeClass('hidden');#}
                Dajaxice.webshop.ajaxapp.send_form(Dajax.process,{'form':$('#my_form').serialize(true)});
            }

            function order_form(){
                Dajaxice.webshop.ajaxapp.order_form(Dajax.process,{'form':$('#my_form').serialize(true)});

            }

            function closeMessage(){
                $('#message_show').addClass('hidden');
            }

            function calc_delivery() {
                Dajaxice.webshop.ajaxapp.calc_delivery(Dajax.process,{'form':$('#rb_delivery').serialize(true)});
            }

            function change_atrs() {
                Dajaxice.webshop.ajaxapp.change_atrs(Dajax.process, {'option':this.value});
            }

        </script>

    {% block onload_cart_script %}
    {% endblock %}

        <script type="text/javascript" src="/static/dajax/dajaxice.core.js"></script>
    {#    dajax end#}



        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.selectbox.min.js"></script>
        <script src="/static/js/custom.js"></script>

    {% block ckeditor %}
    {% endblock %}


        {% block product_js %}
        {% endblock %}

        <script src="/static/bootstrap/js/bootstrap.min.js"></script>

{#        {% bootstrap_javascript %}#}
        {% bootstrap_messages %}

{#    ------------------Serlect------------------------- #}
        <script>
            (function($) {
                $(function() {
                    $('select').selectbox();
                })
            })(jQuery)
        </script>

{#    ------------------Меню------------------------- #}


          {#    для фиксированного меню #}
            <script type="text/javascript">
            jQuery(document).ready(function(){
                /* функция кроссбраузерного определения отступа от верха документа к текущей позиции скроллера прокрутки */
                function getScrollTop() {
                           var scrOfY = 0;
                           if( typeof( window.pageYOffset ) == "number" ) {
                                   //Netscape compliant
                                   scrOfY = window.pageYOffset;
                           } else if( document.body
                           && ( document.body.scrollLeft
                           || document.body.scrollTop ) ) {
                                   //DOM compliant
                                   scrOfY = document.body.scrollTop;
                           } else if( document.documentElement
                           && ( document.documentElement.scrollLeft
                            || document.documentElement.scrollTop ) ) {
                                   //IE6 Strict
                                   scrOfY = document.documentElement.scrollTop;
                           }
                           return scrOfY;
                }
                /* пересчитываем отступ при прокрутке экрана */
                jQuery(window).scroll(function() {
                    fixPaneRefresh();
                });

                function fixPaneRefresh(){
                    if (jQuery("#menu_fixed").length) {
                        var top  = getScrollTop();
                        if (top > 198) {

                            jQuery("#menu_fixed").css({
                                top: 0,         
                                position: 'fixed',
                                marginTop: 0,
                                zIndex: 11000
                            });
{#                            jQuery("#titleblocksrecommend").css({#}
{#                                marginTop: 160#}
{#                            });#}

                        }else {
                            jQuery("#menu_fixed").css({
                                position: 'static'
                            });
{#                            jQuery("#titleblocksrecommend").css({#}
{#                                marginTop: 40#}
{#                            });#}
                        }
                    }
                }

            });
            </script>


{#    защита контента#}
{% if not request.user.is_superuser %}
    <script type="text/javascript">
        document.ondragstart = test;
        document.onselectstart = test;
        document.oncontextmenu = test;
        function test() {
            return false;
        }
        document.oncontextmenu;
        function catchControlKeys(event){
            var code=event.keyCode ? event.keyCode : event.which ? event.which : null;
            if (event.ctrlKey){
                // Ctrl+U
                if (code == 117) return false;
                if (code == 85) return false;
                // Ctrl+C
                if (code == 99) return false;
                if (code == 67) return false;
                // Ctrl+A
                if (code == 97) return false;
                if (code == 65) return false;
            }
        }
    </script>
{% endif %} 

{#    -------------------------------------------#}

    </head>
    <body onkeypress="return catchControlKeys(event)">

        {% include "common/navigation.html" %}

        {#                содержимое в catalog.html#}
        {% block site_wrapper %}
        {% endblock %}

        <div id="scrollup"><span class="glyphicon glyphicon-chevron-up"></span></div>

    {#    flex-slider#}
        <script src="/static/js/jquery.flexslider-min.js"></script>
        <script src="/static/js/script.js"></script>
        <script type='text/javascript' src='/static/js/scrollup.js'></script>

        {#    blueimp#}
        {% block bottom_script %}
        {% endblock %}

    </body>
</html>